@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size:xx-large;
  color:rgb(253, 101, 46);
  margin-left: -70px;
  margin-top: 10px;
  cursor: pointer;
}
.logo{
  width: 240px;
  cursor: pointer;
  margin-left: 80px;
}
  